/* h2 {
       font-family: Sans-serif;
       font-size: 24px;
       font-style: normal;
       font-weight: bold;
       color: blue;
       text-align: center;
       text-decoration: underline
   }
   
   table {
       font-family: verdana;
       color: white;
       font-size: 16px;
       font-style: normal;
       font-weight: bold;
       background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
       border-collapse: collapse;
       border: 4px solid #000000;
       border-style: dashed;
   }
   
   table.inner {
       border: 10px
   }
   
   input[type=text],
   input[type=email],
   input[type=number] {
       width: 50%;
       padding: 6px 12px;
       margin: 5px 0;
       box-sizing: border-box;
   }
   
   input[type=submit],
   input[type=reset] {
       width: 15%;
       padding: 8px 12px;
       margin: 5px 0;
       box-sizing: border-box;
   } */

body {
    padding: 10%;
}

#login {
    border: 0px;
    padding: 15%;
}

#login {
    background-color: rgb(189, 203, 230);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
    border: 1px;
}

label {
    size: 100px;
}

button {
    border: none;
    color: white;
    background-color: #4CAF50;
    padding: 15px 32px;
    font-size: 15px;
    text-align: center;
}

#regi {
    font-size: 20px;
    color: white;
    /* width: 20%; */
}